.cardText {
  padding-left: 0 !important;
  padding-top: 10px !important;
  transition: all 0.5s;
}
.typeAge {
  background-color: #fa5238;
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
}
.movieImg {
  width: 150px;
  height: 300px;
  position: relative;
}
.btnBuyTicket {
  padding: 1.25rem 0 !important;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.5s;
}
.card:hover .btnBuyTicket {
  opacity: 1;
}
.card:hover .cardText {
  opacity: 0;
}
.cardOverlay {
  background-color: rgba(0, 0, 0, 0.473);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 28%;
  opacity: 0;
  transition: all .5s;
}
.playButton{
    color: white;
    margin: 120px 70px;
}
.card:hover .cardOverlay{
    opacity: 1;
}